.idea
*.iml
datasets/
.idea/
__pycache__/
*.gz
.ipynb_checkpoints/
logs/
.vscode/
target/
docker_build.sh
borsuk-service.yaml
config.txt
.jvmopts
.idea/hydra.xml
.idea/modules/scafitter-build.iml
.idea/scala_compiler.xml
.idea/scala_compiler.xml
src/test/results/
*-tmp.csv
*-tmp.sc
*tmp.scala
*tmp.txt
*.log